
.tic-tac-row {
	width: 700px;
	margin: 0 auto;
}
.cell {
	font-size: 100px;
	text-align: center;
	min-width: 200px;
	height: 200px;
}
.cell-value {
	line-height: 200px;
}
.grid {
	padding-top: 30px;
}

.middle-column {
	border-left:  2px solid black;
	border-right: 2px solid black;
}

.middle-row	{
	border-bottom:  2px solid black;
	border-top: 2px solid black;
}
